@model IEnumerable<webApp.Models.adminSystem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddOrEdit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adminId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sysId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adminId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sysId)
        </td>
        <td>

            <a href="@Url.Action("AddOrEdit","adminSystems", new {id = item.Id })" class="btn btn-default"  >Edit</a>
            @*@Html.ActionLink("Edit", "AddOrEdit", new { id=item.Id }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            <a href="@Url.Action("Delete","adminSystems", new {id = item.Id })" class="btn btn-default">Delete</a>
        </td>
    </tr>
}

</table>
